*{
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: 0;
}

a{
  text-decoration: none;
}

.container{
    margin: 0 120px;
    display: flex;
}

#header .container{
    justify-content: space-between;
    align-items: center;
    margin-top:  0px;


}

.header{
  background-color: rgb(0, 0, 0);
  height: 100px; max-height: 450px;
  justify-content: space-between;
  align-items: center;
  margin-top: 0px;
  padding-top: 40px;
}
  

.container{
    margin-top: 50px; 
}

#main .container{
    flex-direction: column;
}

.produtos-linha{
    display: flex;
    justify-content: space-between;
    margin-top: 75px;
    margin: 80px;
}

#buscar-input{ 
  background-color: #000000;
    border:  2px solid rgb(255, 255, 255);
    padding: 3px 3px;
    color: white;
    border-radius: 12px;
    width: 150px;
    height: 20px;
    margin-left: 15px;
    margin-top: 10px;
    padding: 5px;
   
}
#carrinho-icon {
     
    margin-left: 0px;
    margin-top: 5px;
    width: 65px;


}

.produto img{
    width: 250px;
    height: 250px;
    border: solid black 3px;
    border-radius: 15px;
    
}

.produtos{
margin-top: 25px;
}

p{
    font-size: 15px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-size: 15px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo{
    display: flex;
}

.auto{
  font-size: 35px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white; letter-spacing: 2px; margin-left: 5px; margin-top: 10px;
}
.express{
  font-size: 35px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(255, 0, 0) ;letter-spacing: 2px; margin-top: 10px;
   /* #BE0115;  */
}

.img-logo{
width: 55px; height: auto; position: absolute; right: 1360px; margin-top: 10px;
}

.container1{
  margin: 0 120px;
  display: flex;
}

.menu{
  display: flex;
}

.item1 {
  font: 520 20px 'sans', sans-serif;
  margin-top: 10px;
  color: rgb(255, 255, 255);
  margin-left: 75px;}
  

  

h2{
    font-family: monospace; font-size: 30px;
}

ul{align-items: center;
text-align: center; font-size: 10px; }

#itens-lista {
    color: rgb(255, 255, 255); font-size: 10px;

}

#carrinho-itens{
  font-size: 10px; color: white;
}

.nome{
    position: absolute;
    margin-top: 50px ;
}

.remove, .add{ 
    color: white;
    background-color: black;
}

#video{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
  
    
}

 /* ///////////////////////////// */

/* Botão compra começo */
.Btn {
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 15, 15);
    border: none;
    color: white;
    font-weight: 400;
    gap: 10px;

    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    margin-left: 50px;
  }
  .Btn::before {
    width: 150px;
    height: 130px;
    position: absolute;
    content: "";
    background-color: white;
    border-radius: 50%;
    left: -100%;
    top: 0;
    transition-duration: .3s;
    mix-blend-mode: difference;
  }
  
  .Btn:hover::before {
    transition-duration: .3s;
    transform: translate(100%,-50%);
    border-radius: 0;
  }
    /* Botão compra*/

 /* ///////////////////////////// */

 #comprar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 25px;
  gap: 5px;
  padding: 15px 20px;
  background-color: #212121;
  border: none;
  font: inherit;
  color: #e8e8e8;
  font-size: 20px;
  font-weight: 100px;
  border-radius: 50px;
  overflow: hidden;
  font-size: 12px;
}

#comprar span {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  color: rgb(255, 255, 255);
}

#comprar::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  translate: 0 105%;
  background-color: #00ff04;
  color: rgb(0, 0, 0);
  transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
}

#comprar:hover::before {
  translate: 0 0;
  color: black;
}

  /* ///////////////////////////// */

    /* Botão Excluir começo*/
#excluir{
    margin-left: 105px;
    margin-top: 57px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 20px;
    gap: 5px;
    padding: 15px 20px;
    background-color: #212121;
    border: none;
    font: inherit;
    color: #e8e8e8;
    font-size: 10px;
    font-weight: 100px;
    border-radius: 50px;
    overflow: hidden;
    font-size: 10px;
    top: 10px;
    transition: all 2s ease cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #excluir  span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
  }
  
  #excluir::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    translate: 0 105%;
    background-color: #ff0011;
    
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #excluir svg {
    width: 15px;
    height: 15px;
    fill: #ff0011;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  #excluir:hover {
    animation: shake 0.2s linear 1;
  }
  
 #excluir:hover::before {
    translate: 0 0;
  }
  
  #excluir:hover svg {
    fill: #ffffff;
  }
  
  @keyframes shake {
    0% {
      rotate: 0deg;
    }
  
    33% {
      rotate: 10deg;
    }
  
    66% {
      rotate: -10deg;
    }
  
    100% {
      rotate: 10deg;
    }
  }
     /* Botão Excluir final */

 /* ///////////////////////////// */

   /* Botão Busca final */

  .container-final{
    background-color: black; padding: 30px; padding-top: 40px;
  }

  .img-logo2{
    width: 40px; height: auto; position: absolute; right: 1370px;
  }
  
  .auto2{
      font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: white; letter-spacing: 2px; margin-left: 95px;
  }
  .express2{
      font-size: 25px; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color: rgb(255, 0, 0) ;letter-spacing: 2px; margin-left: 1px;
       /* #BE0115;  */
  }

  .art-fuel{
    width: 100%;
    height: 600px;
  }

  .logo-fuel{
    width: 200px;
    height: 100%;
  }

  /* Midia social */
  .socials-container {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 20px 40px;
    background-color: #000000;
    margin-top: 120px;
    margin-left: 25px;
  }
  .social {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgb(255, 255, 255);
  }
  .twitter:hover {
    background: linear-gradient(45deg, #000000, #272727, #606060, #9d9d9d);
  }
  .facebook:hover {
    background: linear-gradient(45deg, #074adc, #296bfa, #6394ff);
  }
  .google-plus:hover {
    background: linear-gradient(45deg, #ce200c, #e3331f, #ff7061);
  }
  .instagram:hover {
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #ff992b 0%,
      #f16735 25%,
      #e61f3d 50%,
      #d30e5d 75%,
      #ff00ae 100%
    );
    background: -webkit-linear-gradient(
      45deg,
      #ff992b 0%,
      #f16735 25%,
      #e61f3d 50%,
      #d30e5d 75%,
      #ff00ae 100%
    );
    background: linear-gradient(
      45deg,
      #ff992b 0%,
      #f16735 25%,
      #e61f3d 50%,
      #d30e5d 75%,
      #ff00ae 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .social svg {
    fill: white;
    height: 20px;
  }

 .nossas-redes{
  color: white; margin-left: 100px; position: absolute; margin-top: -50px }

#nome-ps, #email{
  width: 450px;
  height: auto;
  border-radius: 10px;
}
#nome-ps, #email, #assunto, #msg{
    font-family: 'RobotoB';
    font-size: 15px;
    font-weight: 600;
    line-height: 35px;
    text-align: left;
    color: #C1C1C1;
    padding: 0 21px;
}
#assunto{
  width: 450px;
  height: auto;
  border-radius: 10px;
}
#msg{
    width: 450px;
    height: 100px;
    border-radius: 10px;
}

.contato{
  display: flex; gap: 10px;
  flex-direction: column; margin-top: -125px;
  margin-left: 750px;
} 

.enviar{
  width: 150px;
  height: 35px;
  color: #606060;
  border-radius: 25px;
  margin-left: 175px;
}

.contato-titulo{
  color: white; position: absolute; left: 900px; margin-top: -200px;
}

#nome-ps , #assunto , #msg , #email {
  color: black;
} 